.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid black;
}

.logo {
  width: 100px;
}

.nav-items > ul {
  display: flex;
  list-style-type: none;
  padding: 0px 20px;
}

.nav-items > ul > li {
  padding: 10px;
  margin: 10px;
}

.res-card {
  width: 200px;
  height: 350px;
  margin: 10px;
  padding: 5px;
  background-color: #f7eeee;
}

.res-card:hover {
  border: 1px solid black;
  cursor: pointer;
}

.search {
  padding: 10px;
}

.res-img {
  width: 100%;
}

.res-container {
  display: flex;
  flex-wrap: wrap;
}
